<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bakapple</title>
    <link rel="stylesheet" type="text/css" href="../item.css">
</head>
<body>

<div class="container">
    <header>
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="../../main.html">
                            <img src="../../../static/images/6277234851615291468-MiyamuraArtDark.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Seriler">
                        <a href=>
                            Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Devam">
                        <a href="../../DevamEdenler.html">
                            Devam Edenler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Bitti">
                        <a href="../../Bitti.html">
                            Biten Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="discord">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <img src="../../../static/images/Discord-Logo-Lede.png" height="40" alt="Discord">
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <aside>

    </aside>
    <main>
        <div class="wrap-box">
            <img class="thumbnail" src="../../../static/Series/Bakapple.jpg" alt="Thumbnail">
            <div class="serieinfo">
                <table>
                    <tr>
                        <td class="info">Ad</td>
                        <td class="info">:</td>
                        <td class="info">Bakapple</td>
                    </tr>
                    <tr>
                        <td class="info">Yayınlanma</td>
                        <td class="info">:</td>
                        <td class="info">Bitti</td>
                    </tr>
                    <tr>
                        <td class="info">Çeviri Durumu</td>
                        <td class="info">:</td>
                        <td class="info">Devam Ediyor</td>
                    </tr>
                    <tr>
                        <td class="info">Yayınlanma Tarihi</td>
                        <td class="info">:</td>
                        <td class="info">2019</td>
                    </tr>
                    <tr>
                        <td class="info">Yazar | Çizer</td>
                        <td class="info">:</td>
                        <td class="info">Sakura, Yume</td>
                    </tr>
                    <tr>
                        <td class="info">Türler</td>
                        <td class="info">:</td>
                        <td class="info"><a href="../../Tags/Comedy.html">Komedi, </a><a href="../../Tags/Romance.html">Romantizm</a></td>
                    </tr>
                    <tr>
                        <td class="info">İçerik Türü</td>
                        <td class="info">:</td>
                        <td class="info">Manga</td>
                    </tr>
                    <tr>
                        <td class="info">Açıklama</td>
                        <td class="info">:</td>
                        <td class="info">"Bu hikaye bir salak çiftin hikayesi! Aşırı derece salaklar! İkisi de salak!"</td>
                    </tr>
                </table>
            </div>
        </div>
        <button>
            <a href="0.bolum.html">İlk bölümü oku</a>
        </button>
        <div>
            <h1>Bölümler</h1>
            <table class="bolumlr">
                <tr>
                    <td class="info1">Bölüm</td>
                    <td class="info2"><p id="1">Edit | Çeviri</p></td>
                    <td class="info3"><p>Yükleme</p></td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="10.bolum.html">Bakapple 10</a></td>
                    <td class="bolum">Tarık | Musubi</td>
                    <td class="bolum">2 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="9.bolum.html">Bakapple 9</a></td>
                    <td class="bolum">Tarık | Musubi</td>
                    <td class="bolum">2 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="8.bolum.html">Bakapple 8</a></td>
                    <td class="bolum">Tarık | Musubi</td>
                    <td class="bolum">3 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="7.bolum.html">Bakapple 7</a></td>
                    <td class="bolum">MiyamuraArt | Musubi</td>
                    <td class="bolum">3 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="6.bolum.html">Bakapple 6</a></td>
                    <td class="bolum">MiyamuraArt | Musubi</td>
                    <td class="bolum">4 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="6.bolum.html">Bakapple 5</a></td>
                    <td class="bolum">MiyamuraArt | Musubi</td>
                    <td class="bolum">4 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="10.bolum.html">Bakapple 4</a></td>
                    <td class="bolum">MiyamuraArt | Musubi</td>
                    <td class="bolum">4 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="3.bolum.html">Bakapple 3</a></td>
                    <td class="bolum">MiyamuraArt | Musubi</td>
                    <td class="bolum">4 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="2.bolum.html">Bakapple 2</a></td>
                    <td class="bolum">MiyamuraArt | Walst</td>
                    <td class="bolum">7 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="1.bolum.html">Bakapple 1</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">7 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="0.bolum.html">Bakapple 0</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">7 ay önce</td>
                </tr>
            </table>
        </div>
    </main>
</div>
</body>
</html>