<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oturum aç</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/LSU.css">
    <link rel="shortcut icon" href="../../static/images/Logo.png" type="image/png" />
</head>
<body>
    <div class="Log-in-menu">
        <form action="" method="post">
            <label for="username">E-posta</label>
            <input type="text" placeholder="Ad" id="username" name="username"/>
            <label for="password">Şifre</label>
            <input type="password" placeholder="Şifre" id="password" autocomplete="on"/>
            <button id="SignInbutton" class="form-button" type="submit">Giriş Yap</button>
        </form>
    </div>
</body>
</html>