<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kayıt ol</title>
</head>
<body>
    <div class="Sign-up-menu">
        <form action="" method="post">
            <h3 id="sign-close">X</h3>
            <label for="Name">Kullanıcı Adı</label>
            <input type="text" placeholder="KullanıcıAdı" id="Name"/>
            <label for="password">Şifre</label>
            <input type="password" placeholder="Şifre" autocomplete="on" id="password"/>
            <button id="SignUpButton" class="form-button" type="submit">Kayıt Ol</button>
        </form>
    </div>
</body>
</html>