$background: #222222;
$color: #ffffff;
.white-theme {
    $background: #dddddd;
    $color: #ffffff;
}
@keyframes Button {
    from {background-color: $background;
    padding: 1rem}
    to {background-color: gray;
    padding: 1.2rem}
}
@keyframes Buttonr {
    from {background-color: gray;
        padding: 1rem}
    to {background-color: $background;
        padding: 1.2rem}
}
main, a {
    color: $color;
    font-family: "Arial",serif;
    font-size: 18px;
}
button, .Login {
    -webkit-appearance: button;
    -moz-appearance: button;
    padding: 1rem;
    border-radius: 0.9rem;
    background-color: #222222;
    border-color: $color;
    color: $color;
    &:hover {
        padding: 1.2rem;
        cursor: pointer;
        background-color: gray;
        animation-name: Button;
        animation-duration: 1s;
    }
}