$Dust: #616161;
$Dark: #222222;
$White: #ffffff;
body {
    background-color: $Dark;
    width: 1920px;
    margin: 0;
}
header {
    background-color: $Dust;
    margin: 0 0 2rem;
    width: 1920px;
    td {
        padding-left: 20px;
        color: $White;
        transition: 1s;
        &:hover {
            transform: scale(1.2);
        }
        .light {
            display: none;
            animation: disr 2s;
        }
    }
}
@keyframes dis {
    from {display: block;}
    to {display: none;}
}
@keyframes disr {
    from {display: none;}
    to {display: block;}
}
#Theme {
    &:hover {
        .dark {
            display: none;
            animation: dis;
            animation-duration: 2s;
        }
        .light {
            display: block;
        }
    }
}