@keyframes Hover {
  from {background-color: white;}
  to {background-color: #dddddd;}
}
@keyframes Hoverr {
  from {background-color: #dddddd;}
  to {background-color: white;}
}
.item {
  position: relative;
  display: grid;
  border-style: solid;
  border-color: gray;
  border-radius: 5%;
  width: 220px;
  height: 450px;
  padding-top: 10px;
  padding-right: 1rem;
  float: left;
  margin: 10px;
  overflow: auto;
  overflow-x: hidden;
  align-items: center;
  animation-name: Hoverr;
  animation-duration: 1s;
}
.item:hover {
  cursor: pointer;
  animation-name: Hover;
  animation-duration: 2s;
}
.item::-webkit-scrollbar {
  width: 6px;
}
a:hover, .item img {cursor: pointer}