@-webkit-keyframes Logo {
  from {
    display: -webkit-box;
    display: flex;
  }
  to {
    display: none;
  }
}
@keyframes Logo {
  from {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  to {
    display: none;
  }
}
@-webkit-keyframes Logor {
  from {
    display: none;
  }
  to {
    display: -webkit-box;
    display: flex;
  }
}
@keyframes Logor {
  from {
    display: none;
  }
  to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@-webkit-keyframes A {
  from {
    padding-left: 0;
  }
  to {
    padding-left: 2rem;
  }
}
@keyframes A {
  from {
    padding-left: 0;
  }
  to {
    padding-left: 2rem;
  }
}
@-webkit-keyframes Ar {
  from {
    padding-left: 2rem;
  }
  to {
    padding-left: 0;
  }
}
@keyframes Ar {
  from {
    padding-left: 2rem;
  }
  to {
    padding-left: 0;
  }
}
html, body {
  overflow-x: hidden;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222;
}

* {
  font-family: "Roboto Medium", serif;
  text-decoration: none;
  color: white;
}

.container {
  background-color: #222;
}

main {
  float: left;
}

#Logo {
  -webkit-transition: width 2s;
  transition: width 2s;
  position: relative;
}

/* HEADER */
body {
  width: 100vw;
  margin: 0;
  overflow-y: unset;
}

header {
  background-color: #616161;
  margin: 0 0 2rem;
  width: 100vw;
  isolation: isolate;
}

header td {
  padding-left: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

header td #hamtd {
  display: none;
}

header td:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@-webkit-keyframes dis {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
@keyframes dis {
  from {
    display: block;
  }
  to {
    display: none;
  }
}
@-webkit-keyframes disr {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
@keyframes disr {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
/* BUTTON */
@-webkit-keyframes Button {
  from {
    background-color: #222;
    padding: 1rem;
  }
  to {
    background-color: gray;
    padding: 1.2rem;
  }
}
@keyframes Button {
  from {
    background-color: #222;
    padding: 1rem;
  }
  to {
    background-color: gray;
    padding: 1.2rem;
  }
}
@-webkit-keyframes Buttonr {
  from {
    background-color: gray;
    padding: 1rem;
  }
  to {
    background-color: #222;
    padding: 1.2rem;
  }
}
@keyframes Buttonr {
  from {
    background-color: gray;
    padding: 1rem;
  }
  to {
    background-color: #222;
    padding: 1.2rem;
  }
}
button, .Login {
  -webkit-appearance: button;
  -moz-appearance: button;
  padding: 1rem;
  border-radius: 0.9rem;
  background-color: #222;
  border-color: white;
  color: white;
}

button:hover, button:hover, .Login:hover, .Login:hover {
  padding: 1.2rem;
  cursor: pointer;
  background-color: gray;
  -webkit-animation-name: Button;
  animation-name: Button;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.darkmode-toggle {
  font-family: "Material Icons", serif;
}

/* UP */
@-webkit-keyframes upi {
  from {
    background-color: #00000050;
  }
  to {
    background-color: #000;
  }
}
@keyframes upi {
  from {
    background-color: #00000050;
  }
  to {
    background-color: #000;
  }
}
@-webkit-keyframes upr {
  from {
    background-color: #000;
  }
  to {
    background-color: #00000050;
  }
}
@keyframes upr {
  from {
    background-color: #000;
  }
  to {
    background-color: #00000050;
  }
}
.up {
  position: fixed;
  left: 5rem;
  bottom: 5rem;
  background-color: #00000050;
  padding: 5px;
  border-radius: 50%;
  color: white;
  -webkit-animation-name: upr;
  animation-name: upr;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.up i {
  font-size: 70px;
}

.up:hover {
  background-color: #000;
  -webkit-animation-name: upi;
  animation-name: upi;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

/* DISCORD */
@-webkit-keyframes Discord {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8c9eff;
  }
}
@keyframes Discord {
  from {
    background-color: transparent;
  }
  to {
    background-color: #8c9eff;
  }
}
@-webkit-keyframes Discordr {
  from {
    background-color: #8c9eff;
  }
  to {
    background-color: transparent;
  }
}
@keyframes Discordr {
  from {
    background-color: #8c9eff;
  }
  to {
    background-color: transparent;
  }
}
.discord {
  border-radius: 50%;
  padding: 0.2rem;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-animation-name: Discordr;
  animation-name: Discordr;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  font-size: 30px !important;
  text-align: center;
}

.discord i {
  position: relative;
  top: 0.3rem;
}

.discord:hover {
  -webkit-animation-name: Discord;
  animation-name: Discord;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  background-color: #8c9eff;
  padding: 0.2rem;
}

aside {
  position: absolute;
  left: 25px;
  top: 30vh;
}

/* HAMBURGER */
.Menu {
  display: none;
  height: 450px;
  width: 100vw;
  background-color: #616161;
}

#Menu {
  display: none;
}

#Menu:hover {
  cursor: pointer;
}

#Menu:checked ~ .Menu {
  display: block;
}

/* UPLOAD */
input {
  background-color: transparent;
  color: transparent;
  position: relative;
  left: 45vw;
}

/* MAIN ITEM */
@-webkit-keyframes Hover {
  from {
    background-color: #222;
  }
  to {
    background-color: black;
  }
}
@keyframes Hover {
  from {
    background-color: #222;
  }
  to {
    background-color: black;
  }
}
@-webkit-keyframes Hoverr {
  from {
    background-color: black;
  }
  to {
    background-color: #222;
  }
}
@keyframes Hoverr {
  from {
    background-color: black;
  }
  to {
    background-color: #222;
  }
}
section {
  position: relative;
  left: 50%;
  width: 1000px;
}

.item {
  position: inherit;
  display: -ms-grid;
  display: grid;
  border-style: solid;
  border-color: gray;
  border-radius: 2rem;
  width: 220px;
  height: 450px;
  padding: 10px;
  float: left;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-animation-name: Hoverr;
  animation-name: Hoverr;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  font-size: 20px;
}

.du {
  padding: 0.2rem 1rem;
  border: solid gray 5px;
  border-radius: 1rem;
}

#series .item {
  width: 700px;
  height: 80px;
  overflow-y: hidden;
  animation-name: Hoverr;
  animation-duration: 1s;
}
.heads {
  position: relative;
}
#series #A .item h3, #series #B .item h3, #series #C .item h3, #series #D .item h3, #series #E .item h3, #series #F .item h3, #series #G .item h3, #series #H .item h3, #series #I .item h3, #series #J .item h3, #series #K .item h3, #series #L .item h3, #series #M .item h3, #series #N .item h3, #series #O .item h3, #series #P .item h3, #series #Q .item h3, #series #R .item h3, #series #S .item h3, #series #T .item h3, #series #U .item h3, #series #V .item h3, #series #W .item h3, #series #X .item h3, #series #Y .item h3, #series #Z .item h3 {
  width: 1rem;
}
#series #A .item .text, #series #B .item .text, #series #C .item .text, #series #D .item .text, #series #E .item .text, #series #F .item .text, #series #G .item .text, #series #H .item .text, #series #I .item .text, #series #J .item .text, #series #K .item .text, #series #L .item .text, #series #M .item .text, #series #N .item .text, #series #O .item .text, #series #P .item .text, #series #Q .item .text, #series #R .item .text, #series #S .item .text, #series #T .item .text, #series #U .item .text, #series #V .item .text, #series #W .item .text, #series #X .item .text, #series #Y .item .text, #series #Z .item .text {
  position: relative;
  left: 70px;
  bottom: 100px;
}
#series #A .item img, #series #B .item img, #series #C .item img, #series #D .item img, #series #E .item img, #series #F .item img, #series #G .item img, #series #H .item img, #series #I .item img, #series #J .item img, #series #K .item img, #series #L .item img, #series #M .item img, #series #N .item img, #series #O .item img, #series #P .item img, #series #Q .item img, #series #R .item img, #series #S .item img, #series #T .item img, #series #U .item img, #series #V .item img, #series #W .item img, #series #X .item img, #series #Y .item img, #series #Z .item img {
  width: 60px;
  height: 75px;
}
h3 {
  width: 1rem;
}

#chars {
  font-size: 35px;
  position: fixed;
  border: solid 3px gray;
  border-radius: 5px;
  padding: 1rem;
  width: 300px;
  top: 100px;
  left: 75vw;
}
#chars a:hover {
  color: aqua;
}

.tarih {
  background-color: aqua;
  width: 8rem;
  padding: 5px;
  border-style: solid;
  border-color: #7fe5ff;
  border-radius: 10px;
  left: 800px;
  position: relative;
}

.tarihb {
  background-color: aqua;
  width: 15rem;
  padding: 5px;
  border-style: solid;
  border-color: #7fe5ff;
  border-radius: 10px;
  left: 750px;
  position: relative;
}

.item a, .item p {
  color: #fff;
}

.item:hover {
  cursor: pointer;
  -webkit-animation-name: Hover;
  animation-name: Hover;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  background-color: black;
}

.item::-webkit-scrollbar {
  width: 6px;
}

.item a:hover, .item img:hover {
  cursor: pointer;
}

.item .img {
  width: 200px;
  height: 300px;
}

.item .ite {
  padding-left: 10px;
}

/* LOGIN */
@-webkit-keyframes Close {
  from {
    background-color: gray;
  }
  to {
    background-color: red;
  }
}
@keyframes Close {
  from {
    background-color: gray;
  }
  to {
    background-color: red;
  }
}
@-webkit-keyframes Submit {
  from {
    background-color: #121212;
    padding: 0.5rem;
  }
  to {
    background-color: gray;
    padding: 1rem;
  }
}
@keyframes Submit {
  from {
    background-color: #121212;
    padding: 0.5rem;
  }
  to {
    background-color: gray;
    padding: 1rem;
  }
}
@-webkit-keyframes Submitr {
  from {
    background-color: gray;
    padding: 1rem;
  }
  to {
    background-color: #121212;
    padding: 0.5rem;
  }
}
@keyframes Submitr {
  from {
    background-color: gray;
    padding: 1rem;
  }
  to {
    background-color: #121212;
    padding: 0.5rem;
  }
}
.fname, .email, .pw {
  margin: 20px;
}

.form {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

.Sign div {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.548);
  color: #000000;
  z-index: 10;
  -webkit-transition: ease;
  transition: ease;
}

.Log-in-menu form, .Sign-up-menu form {
  z-index: 20;
  position: relative;
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--DarkMain);
  color: white;
  border-radius: 1.5rem;
}

.Log-in-menu form input, .Sign-up-menu form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 1rem;
  border-color: gray;
}

.form-button {
  position: relative;
  background-color: #121212;
  border-radius: 1rem;
  border-style: hidden;
  -webkit-animation-name: Submitr;
  animation-name: Submitr;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  color: white;
  padding: 0.5rem;
}

.form-button:hover {
  padding: 1rem;
  -webkit-animation-name: Submit;
  animation-name: Submit;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  background-color: gray;
}

.material-icons {
  font-size: 36px;
  color: white;
}

.darkmode--activated .item p, .darkmode--activated .item a {
  color: black;
}

.hamdiv {
  display: none;
}

.slider h1 {
  position: relative;
  left: 8vw;
  bottom: 5vh;
  font-size: 50px;
}

.swiper {
  position: absolute;
  right: 100px;
  bottom: 6vh;
}

.slitem {
  border-style: solid;
  border-color: gray;
  border-radius: 20px;
}

.slitem img {
  padding: 1rem 1rem 1rem 4rem;
}

.slitem .text {
  font-size: 40px;
  position: absolute;
  left: 370px;
  bottom: 100px;
}

.swiper-button-prev:after {
  padding-left: 2rem;
  font-family: "Material Icons" !important;
  content: "arrow_back_ios" !important;
}

.swiper-button-next:after {
  padding-right: 2rem;
  font-family: "Material Icons" !important;
  content: "arrow_forward_ios" !important;
}

.avatar {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0rem;
  right: 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #616161;
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
}

.avatar h4 {
  display: none;
}

.avatar:hover {
  width: 20rem;
  height: 30rem;
}

.avatar:hover a {
  position: relative;
  top: 3rem;
}

.avatar:hover a h4 {
  display: block;
}

/*# sourceMappingURL=Main.css.map */
