@keyframes ofline {
  from {top: -40px;}
  to {top: 0;}
}
.offline {
  display: none;
  animation-name: ofline;
  animation-duration: 1s;
  background-color: darkred;
  border-style: solid;
  border-color: #cc3333;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 35%;
}