.ThemeDiv {background-color: transparent}
.Themeimg {
    height: 3rem;
    width: 3rem;
    background-color: transparent;
    color: transparent;
}
.Theme{
    display: flex;
    background-color: transparent;
    border-style: none;
    padding: 0.5rem;
    border-radius: 1rem;
    filter: invert(100%);
    animation-name: Themer;
    animation-duration: 1s;
}
.Theme:hover {
    cursor: pointer;
    background-color: #dddddd;
    animation-name: Theme;
    animation-duration: 1s;
}
@keyframes Theme {
    from {background-color: transparent}
    to {background-color: #dddddd}
}
@keyframes Themer {
    from {background-color: #dddddd;}
    to {background-color: transparent}
}
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}