<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan</title>
    <link rel="stylesheet" type="text/css" href="../item.css">
</head>
<body>
    <div class="container">
        <header>
            <table>
                <tr>
                    <td>
                        <div class="logo">
                            <a href="../../main.html">
                                <img src="../../../static/images/6277234851615291468-MiyamuraArtDark.png" alt="ShiroiSubs">
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="Seriler">
                            <a href=>
                                Seriler
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="Devam">
                            <a href="../../DevamEdenler.html">
                                Devam Edenler
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="Bitti">
                            <a href="../../Bitti.html">
                                Biten Seriler
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="discord">
                            <a href="https://discord.gg/BeVbkSV7kv">
                                <img src="../../../static/images/Discord-Logo-Lede.png" height="40" alt="Discord">
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </header>
        <aside>

        </aside>
        <main>
            <div class="wrap-box">
                <img class="thumbnail" src="../../../static/Series/6269899851613060741-MiyamuraArt.jpg" alt="Thumbnail">
                <div class="serieinfo">
                    <table>
                        <tr>
                            <td class="info">Ad</td>
                            <td class="info">:</td>
                            <td class="info">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan</td>
                        </tr>
                        <tr>
                            <td class="info">Yayınlanma</td>
                            <td class="info">:</td>
                            <td class="info">Devam Ediyor</td>
                        </tr>
                        <tr>
                            <td class="info">Çeviri Durumu</td>
                            <td class="info">:</td>
                            <td class="info">Devam Ediyor</td>
                        </tr>
                        <tr>
                            <td class="info">Yayınlanma Tarihi</td>
                            <td class="info">:</td>
                            <td class="info">2018</td>
                        </tr>
                        <tr>
                            <td class="info">Yazar | Çizer</td>
                            <td class="info">:</td>
                            <td class="info">Oohara Roron</td>
                        </tr>
                        <tr>
                            <td class="info">Türler</td>
                            <td class="info">:</td>
                            <td class="info"><a href="../../Tags/Comedy.html">Komedi, </a><a href="../../Tags/Romance.html">Romantizm, </a><a href="../../Tags/SliceOfLife.html">Yaşattan Kesitler</a></td>
                        </tr>
                        <tr>
                            <td class="info">İçerik Türü</td>
                            <td class="info">:</td>
                            <td class="info">Manga</td>
                        </tr>
                        <tr>
                            <td class="info">Açıklama</td>
                            <td class="info">:</td>
                            <td class="info">"Yetişkin olduğunda benimle evlenebilirsin." Bana böyle söylemişti. O değerli vaatleri hâlâ adım gibi hatırlıyorum!</td>
                        </tr>
                    </table>
                </div>
            </div>
            <button>
                <a href="1/1.html">İlk bölümü oku</a>
            </button>
            <div>
                <h1>Bölümler</h1>
                <table class="bolumlr">
                    <tr>
                        <td class="info1">Bölüm</td>
                        <td class="info2"><p id="1">Edit | Çeviri</p></td>
                        <td class="info3"><p>Yükleme</p></td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="16/16.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 16</a></td>
                        <td class="bolum">Tarık | MiyamuraArt</td>
                        <td class="bolum">2 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="15/15.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 15</a></td>
                        <td class="bolum">Tarık | Xanny</td>
                        <td class="bolum">3 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="14/14.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 14</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">4 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="13/13.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 13</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">4 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="12/12.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 12</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">5 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="11/11.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 11</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">5 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="10,5/10.5.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 10,5</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">6 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="10/10.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 10</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">6 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="9/9.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 9</a></td>
                        <td class="bolum">MiyamuraArt | Xanny</td>
                        <td class="bolum">6 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="8/8.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 8</a></td>
                        <td class="bolum">MiyamuraArt | Xannrnea</td>
                        <td class="bolum">7 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="7/7.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 7</a></td>
                        <td class="bolum">MiyamuraArt | Walst</td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="6/6.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 6</a></td>
                        <td class="bolum">MiyamuraArt</td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="5/5.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 5</a></td>
                        <td class="bolum"> | </td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="4/4.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 4</a></td>
                        <td class="bolum"> | </td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="3/3.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 3</a></td>
                        <td class="bolum"> | </td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="2/2.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 2</a></td>
                        <td class="bolum"> | </td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                    <tr>
                        <td class="bolum"><a class="bolumn" href="1/1.html">Tekito na Maid no Oneesan to Erasou de Ichizu na Bocchan 1</a></td>
                        <td class="bolum"> | </td>
                        <td class="bolum">8 ay önce</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</body>
</html>