<div class="item">
    <div class="ite">
        <a class="link img" href="Seriler/Oneesan/Oneesan.html">
            <img width="200" height="300" src="../static/Series/oneesan.jpg" alt="The Story of an Onee-San Who Wants to Keep a High School Boy">
            <div class="text">
                <p>The Story of an Onee-San Who Wants to Keep a High School Boy<br><br></p>
                <a class="link" href="Tags/Comedy.html">Komedi <br></a>
                <a class="link" href="Tags/SliceOfLife.html">Yaşamdan kesitler <br></a>
                <a class="link" href="Tags/Romance.html">Romantizm</a>
            </div>
        </a>
    </div>
</div>