<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Abandoned Wife Has a New Husband</title>
    <script src="https://kit.fontawesome.com/9d73c3cf07.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/images/Logo.png" type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../static/stylesheets/Main.css">
    <link rel="stylesheet" type="text/css" href="../../../static/stylesheets/Info.css">
    <link rel="stylesheet" type="text/css" href="../../../static/stylesheets/AWHNH.css">
</head>
<body>
<div class="container">
    <header id="header">
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="http://127.0.0.1:5000">
                            <img src="../static/images/Logo.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td id="Menu">
                    <div class="Menu" id="Menu">
                        <input class="men" type="checkbox">
                    </div>
                </td>
                <!--<script>
                    document.getElementById("Menu").addEventListener("click", function(){
                        document.querySelector(".Head").style.display = "block";
                    })
                </script> -->
                <td>
                    <div class="Seriler Head">
                        <a href="seriler.html">Seriler</a>
                    </div>
                </td>
                <td>
                    <div class="Duyurular Head">
                        <a href="Duyurular.html">Duyurular</a>
                    </div>
                </td>
                <td>
                    <div class="Devam Head">
                        <a href="DevamEdenler.html">Devam Edenler</a>
                    </div>
                </td>
                <td>
                    <div class="Bitti Head">
                        <a href="Bitti.html">Biten Seriler</a>

                    </div>
                </td>
                <td>
                    <div class="discord Head">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <i class="fab fa-discord"></i>
                        </a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="Login/login.html">Giriş Yap</a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="Login/signup.html">Kayıt Ol</a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <div>
            <img id="big-thumb" src="../../../static/Series/abandoned.jpg">
        </div>
        <div class="wrap-box">
            <div class="mainitem">
                <div class="thumbnail">
                    <img id="thumbnail" src="../../../static/Series/abandoned.jpg" alt="İçerik kapağı">
                </div>
                <div class="serieinfo">
                    <table>
                        <tr>
                            <td class="info">Ad</td>
                            <td class="info">:</td>
                            <td class="info">Abandoned Wife Has a New Husband</td>
                        </tr>
                        <tr>
                            <td class="info">Yayınlanma</td>
                            <td class="info">:</td>
                            <td class="info">Devam Ediyor</td>
                        </tr>
                        <tr>
                            <td class="info">Çeviri Durumu</td>
                            <td class="info">:</td>
                            <td class="info">Devam Ediyor</td>
                        </tr>
                        <tr>
                            <td class="info">Yazar, Çizer</td>
                            <td class="info">:</td>
                            <td class="info">Hayeon</td>
                        </tr>
                        <tr>
                            <td class="info">Türler</td>
                            <td class="info">:</td>
                            <td class="info"><a href="../../Tags/Drama.html">Drama, </a><a href="../../Tags/Fantasy.html">Fantazi, </a><a href="../../Tags/Manwha.html">Manwha, </a><a href="../../Tags/Romance.html">Romantik, </a><a href="../../Tags/Shoujo.html">Shoujo, </a><a href="../../Tags/Tragedy.html">Trajedi</a></td>
                        </tr>
                        <tr>
                            <td class="info">İçerik Türü</td>
                            <td class="info">:</td>
                            <td class="info">Manwha</td>
                        </tr>
                        <tr>
                            <td class="info">Açıklama</td>
                            <td class="info">:</td>
                            <td class="info">"Karımı satıyorum!" Yıllarca süren tacizden sonra, Chloe sonunda onu zorlayan ve şiddet uygulayan kocası tarafından terk edilir ve utanç verici bir "satılmış eş" olmaya mahkumdur. Ama korkunç adamlarla dolu eski püskü, sıkışık bir barda üç yüz sikkeye satılma tehlikesiyle karşı karşıyayken, gizemli Ash Brinicle ortaya çıkar ve onu çok büyük bir miktarda paraya satın alır. Böylece Chloe, isteği dışında Marki Brinicle'ın karısı olur...</td>
                        </tr>
                    </table>
                </div>
            </div>
            <button class="first">
                <a href="1.bolum.html">İlk bölümü oku</a>
            </button>
            <div id="EpisodeList">
                <h1>Bölümler</h1>
                <table class="bolumlr">
                        <tr>
                            <td class="info1">Bölüm</td>
                            <td class="info2"><p>Edit | Çeviri</p></td>
                            <td class="info3">Yükleme</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a href="8.bolum.html">Abandoned Wife Has a New Husband 8</a></td>
                            <td class="bolum">S1R | SRR</td>
                            <td class="bolum">2 hafta önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="7.bolum.html">Abandoned Wife Has a New Husband 7</a></td>
                            <td class="bolum">S1R | SRR</td>
                            <td class="bolum">3 hafta önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="6.bolum.html">Abandoned Wife Has a New Husband 6</a></td>
                            <td class="bolum">S1R | 0.shirayuki.0</td>
                            <td class="bolum">1 ay önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="5.bolum.html">Abandoned Wife Has a New Husband 5</a></td>
                            <td class="bolum">S1R | BlackMoon0_0</td>
                            <td class="bolum">1 ay önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="4.bolum.html">Abandoned Wife Has a New Husband 4</a></td>
                            <td class="bolum">S1R | BlackMoon0_0</td>
                            <td class="bolum">1 ay önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="3.bolum.html">Abandoned Wife Has a New Husband 3</a></td>
                            <td class="bolum">S1R | BlackMoon0_0</td>
                            <td class="bolum">2 ay önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="2.bolum.html">Abandoned Wife Has a New Husband 2</a></td>
                            <td class="bolum">S1R | MiyamuraArt,Walst</td>
                            <td class="bolum">2 ay önce</td>
                        </tr>
                        <tr>
                            <td class="bolum"><a class="bolumn" href="1.bolum.html">Abandoned Wife Has a New Husband 1</a></td>
                            <td class="bolum">S1R | MiyamuraArt</td>
                            <td class="bolum">3 ay önce</td>
                        </tr>
                </table>
            </div>
        </div>
    </main>
    <aside>
        <iframe class="Dframe" src="https://discord.com/widget?id=855468840237137931&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </aside>
</div>

<div class="offline">
    İnternet bağlantınızda bir problem var, lütfen internet bağlantınızı kontrol edin.
</div>
<script>
    const div = document.getElementById('offline')
    window.addEventListener('online', () => {
        div.style.display = 'none'
    })
    window.addEventListener('offline', () => {
        div.style.display = 'block'
    })
</script>
<div class="up">
    <a href="#header">
        <i class="material-icons md-48">expand_less</i>
    </a>
</div>
</body>
</html>