<!DOCTYPE html>
<!--suppress ALL -->
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Yeni Bölümler</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Light.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/up.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/LSU.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/LightItem.css">
</head>
<body>
<div class="container">
    <header id="header">
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="main.html">
                            <img src="../static/images/6277234851615291468-MiyamuraArtDark.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Seriler">
                        <a href="seriler.html">
                            Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Duyurular">
                        <a href="Duyurular.html">Duyurular</a>
                    </div>
                </td>
                <td>
                    <div class="Devam">
                        <a href="DevamEdenler.html">
                            Devam Edenler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Bitti">
                         <a href="Bitti.html">
                             Biten Seriler
                         </a>
                    </div>
                </td>
                <td>
                    <div class="discord">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <img src="../static/images/Discord-Logo-Lede.png" height="50" alt="Discord">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="ThemeDiv">
                        <a href="main.html" class="Theme">
                            <img class="Themeimg" id="Moon" src="../static/images/moon.png">
                        </a>
                    </div>
                </td>
                <td class="Login">
                    <div>
                        <button id="Log-in">Giriş Yap</button>
                    </div>
                </td>
                <td class="Login">
                    <div>
                        <button id="Sign-up">Kayıt Ol</button>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <div class="Sign">
            <div class="Log-in-menu">
                <form>
                    <h3 id="modal-close">X</h3>
                    <label for="emaili">E-posta</label>
                    <input type="email" placeholder="E-posta" id="emaili"/>
                    <label for="passwordi">Şifre</label>
                    <input type="password" placeholder="Şifre" id="passwordi" autocomplete="on"/>
                    <button id="SignInbutton" class="form-button" type="submit">Giriş Yap</button>
                </form>
            </div>
            <div class="Sign-up-menu">
                <form>
                    <h3 id="sign-close">X</h3>
                    <label for="Name">Kullanıcı Adı</label>
                    <input type="text" placeholder="KullanıcıAdı" id="Name"/>
                    <label for="password">Şifre</label>
                    <input type="password" placeholder="Şifre" autocomplete="on" id="password"/>
                    <button id="SignUpButton" class="form-button" type="submit">Kayıt Ol</button>
                </form>
                <script src="../static/Login.js"></script>
            </div>
        </div>
        <section>
            <div class="item">
                <a class="link" href="Seriler/Abandoned%20Wife%20Has%20a%20New%20Husband/AbandonedWifeHasaNewHusband.html">
                    <img width="200"  height="300" src="../static/Series/7376a17ce52df5601816841a71850f52.jpg">
                    <p>Abandoned Wife Has a New Husband</p>
                    <a class="link" href="Tags/Drama.html">Drama</a>
                    <a class="link" href="Tags/Fantasy.html">Fantazi</a>
                    <a class="link" href="Tags/Romance.html">Romantizm</a>
                </a>
            </div>
            <div class="item">
                <a class="link" href="Seriler/TheStoryofanOnee-sanWhoWantstoKeepaHighSchoolBoy/TheStoryofanOnee-sanWhoWantstoKeepaHighSchoolBoy.html">
                    <img width="200" height="300" src="../static/Series/8aafeeafb0e6ec65c5a4ce30fb69b7e1.jpg">
                    <p>The Story of an Onee-San Who Wants to Keep a High School Boy </p>
                    <a class="link" href="Tags/Comedy.html">Komedi</a>
                    <a class="link" href="Tags/SliceOfLife.html">Yaşamdan kesitler</a>
                    <a class="link" href="Tags/Romance.html">Romantizm</a>
                </a>
            </div>
            <div class="item">
                <a href="Seriler/Bakapple/Bakapple.html">
                    <img width="200" height="300" src="../static/Series/3d55e241c6db5fde25de494c37d49841.jpg">
                    <p>Bakapple</p>
                    <a href="Tags/Comedy.html">Komedi</a>
                    <a href="Tags/Romance.html">Romantizm</a>
                </a>
            </div>
        </section>
    </main>
    <aside>
        
    </aside>
</div>
<div class="up">
    <a href="#header">
        <img src="../static/images/up-arrow.png">
    </a>
</div>
</body>
</html>