<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Seriler</title>
    <script src="https://kit.fontawesome.com/9d73c3cf07.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/images/Logo.png" type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Main.css">
</head>
<body>
<div class="container">
    <header id="header">
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="main.html">
                            <img src="../static/images/Logo.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td id="Menu">
                    <div class="Menu" id="Menu">
                        <input class="men" type="checkbox">
                    </div>
                </td>
                <!--<script>
                    document.getElementById("Menu").addEventListener("click", function(){
                        document.querySelector(".Head").style.display = "block";
                    })
                </script> -->
                <td>
                    <div class="Seriler Head">
                        <a href="http://127.0.0.1:5000/seriler">Seriler</a>
                    </div>
                </td>
                <td>
                    <div class="Duyurular Head">
                        <a href="http://127.0.0.1:5000/duyurular">Duyurular</a>
                    </div>
                </td>
                <td>
                    <div class="Devam Head">
                        <a href="http://127.0.0.1:5000/devam">Devam Edenler</a>
                    </div>
                </td>
                <td>
                    <div class="Bitti Head">
                        <a href="http://127.0.0.1:5000/bitti">Biten Seriler</a>

                    </div>
                </td>
                <td>
                    <div class="discord Head">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <i class="fab fa-discord"></i>
                        </a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="http://127.0.0.1:5000/login">Giriş Yap</a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="Login/signup.html">Kayıt Ol</a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <section>
            <div class="item"> 
                <div class="ite">
                    <a href="Seriler/TheStoryofanOnee-sanWhoWantstoKeepaHighSchoolBoy/TheStoryofanOnee-sanWhoWantstoKeepaHighSchoolBoy.html">
                        <img width="200" height="300" src="../static/Series/8aafeeafb0e6ec65c5a4ce30fb69b7e1.jpg">
                        <div class="text">
                            <p>The Story of an Onee-San Who Wants to Keep a High School Boy </p>
                            <a class="link" href="links/Comedy.html">Komedi</a>
                            <a class="link" href="links/SliceOfLife.html">Yaşamdan kesitler</a>
                            <a class="link" href="links/Romance.html">Romantizm</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="ite">
                    <a href="Seriler/TekitonaMaidnoOneesantoErasoudeIchizunaBocchan/TekitonaMaidnoOnee-santoErasoudeIchizunaBocchan.html">
                        <img width="200" height="300" src="../static/Series/6269899851613060741-MiyamuraArt.jpg">
                        <div class="text">
                            <p>Tekito na Maid no Onee-san to Erasou de Ichizu na Bocchan</p>
                            <a class="link" href="links/Comedy.html">Komedi</a>
                            <a class="link" href="links/SliceOfLife.html">Yaşamdan kesitler</a>
                            <a class="link" href="links/Romance.html">Romantizm</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="ite">
                        <a href="Seriler/Bakapple/Bakapple.html">
                        <img width="200" height="300" src="../static/Series/3d55e241c6db5fde25de494c37d49841.jpg">
                        <div class="text">
                            <p>Bakapple </p>
                            <a class="link" href="links/Comedy.html">Komedi</a>
                            <a class="link" href="links/Romance.html">Romantizm</a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="ite">
                    <a class="link img" href="http://127.0.0.1:5000/02273">
                        <img width="200"  height="300" src="../static/Series/7376a17ce52df5601816841a71850f52.jpg">
                        <div class="text">
                            <p>Abandoned Wife Has a New Husband<br></p>
                            <a class="link" href="links/Drama.html">Drama <br></a>
                            <a class="link" href="links/Fantasy.html">Fantazi <br></a>
                            <a class="link" href="links/Romance.html">Romantizm</a>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <aside>
        <iframe class="Dframe" src="https://discord.com/widget?id=855468840237137931&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </aside>
</div>

<div class="offline">
    İnternet bağlantınızda bir problem var, lütfen internet bağlantınızı kontrol edin.
</div>
<script>
    const div = document.getElementById('offline')
    window.addEventListener('online', () => {
        div.style.display = 'none'
    })
    window.addEventListener('offline', () => {
        div.style.display = 'block'
    })
</script>
<div class="up">
    <a href="#header">
        <i class="material-icons md-48">expand_less</i>
    </a>
</div>
</body>
</html>