<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeni Bölüm Yükleme Ekranı</title>
    <script src="https://kit.fontawesome.com/9d73c3cf07.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/up.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Button.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Theme.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Header.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/MainItem.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Discord.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Offline.css">
    <link rel="stylesheet" href="../static/stylesheets/Hamburger.css">
    <link rel="shortcut icon" href="../static/images/Logo.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/Main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <header id="header">
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="main.html">
                            <img src="../static/images/Logo.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Menu" id="Menu">
                        <input class="men" type="checkbox">
                    </div>
                </td>
                <!--<script>
                    document.getElementById("Menu").addEventListener("click", function(){
                        document.querySelector(".Head").style.display = "block";
                    })
                </script> -->
                <td>
                    <div class="Seriler Head">
                        <a href="seriler.html">
                            Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Duyurular Head">
                        <a href="Duyurular.html">Duyurular</a>
                    </div>
                </td>
                <td>
                    <div class="Devam Head">
                        <a href="DevamEdenler.html">
                            Devam Edenler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Bitti Head">
                        <a href="Bitti.html">
                            Biten Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="discord Head">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <img src="../static/images/Discord-Logo-Lede.png" height="50" alt="Discord">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="ThemeDiv Head">
                        <a href="AnaSayfaLight.html" class="Theme">
                            <img class="Themeimg" id="Sun" src="../static/images/sun.png">
                        </a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="http://127.0.0.1:5000/yeni-bolum">Bölüm yükle</a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <section>
            <div class="item">
                <a class="link" href="Seriler/Abandoned%20Wife%20Has%20a%20New%20Husband/AbandonedWifeHasaNewHusband.html">
                    <img width="200"  height="300" src="../static/Series/abandoned.jpg">
                    <div class="text">
                        <p>Abandoned Wife Has a New Husband</p>
                        <a class="link" href="Tags/Drama.html">Drama</a>
                        <a class="link" href="Tags/Fantasy.html">Fantazi</a>
                        <a class="link" href="Tags/Romance.html">Romantizm</a>
                    </div>
                </a>
            </div>
            <div class="item">
                <a class="link" href="Seriler/Oneesan/Oneesan.html">
                    <img width="200" height="300" src="../static/Series/oneesan.jpg">
                    <div class="text">
                        <p>The Story of an Onee-San Who Wants to Keep a High School Boy </p>
                        <a class="link" href="Tags/Comedy.html">Komedi</a>
                        <a class="link" href="Tags/SliceOfLife.html">Yaşamdan kesitler</a>
                        <a class="link" href="Tags/Romance.html">Romantizm</a>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="Seriler/Bakapple/Bakapple.html">
                    <img width="200" height="300" src="../static/Series/Bakapple.jpg">
                    <div class="text">
                        <p>Bakapple</p>
                        <a href="Tags/Comedy.html">Komedi</a>
                        <a href="Tags/Romance.html">Romantizm</a>
                    </div>
                </a>
            </div>
        </section>
    </main>
</div>

<div class="offline">
    İnternet bağlantınızda bir problem var, lütfen internet bağlantınızı kontrol edin.
</div>
<script>
    const div = document.getElementById('offline')
    window.addEventListener('online', () => {
        div.style.display = 'none'
    })
    window.addEventListener('offline', () => {
        div.style.display = 'block'
    })
</script>
<div class="up">
    <a href="#header">
        <img src="../static/images/up-arrow.png">
    </a>
</div>
</body>
</html>