<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take Me Out</title>
    <style type="text/css">
        body {
            background-color: #222222;
        }
        a {
            color: white;
            font-family: "Arial";
            font-size: 20px;
        }
        td {
            padding-left: 40px;
        }
    </style>
</head>
<body>

<div class="container">
    <header>
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="AnaSayfa.html">
                            <img src="images/6277234851615291468-MiyamuraArtDark.png">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Seriler">
                        <a href="Seriler.html">
                            Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Devam">
                        <a href="Devam%20Edenler.html">
                            Devam Edenler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Bitti">
                        <a href="Bitti.html">
                            Biten Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="discord">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <img src="discord.png" height="40">
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
</div>
</body>
</html>