<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>American Weeb in Japan</title>
    <script src="https://kit.fontawesome.com/9d73c3cf07.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../static/images/Logo.png" type="image/png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../static/stylesheets/Main.css">
    <link rel="stylesheet" type="text/css" href="../../../static/stylesheets/Info.css">
    <link rel="stylesheet" type="text/css" href="../../../static/stylesheets/AWJ.css">
</head>
<body>
<div class="container">
    <header id="header">
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="http://127.0.0.1:5000">
                            <img src="../static/images/Logo.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td id="Menu">
                    <div class="Menu" id="Menu">
                        <input class="men" type="checkbox">
                    </div>
                </td>
                <!--<script>
                    document.getElementById("Menu").addEventListener("click", function(){
                        document.querySelector(".Head").style.display = "block";
                    })
                </script> -->
                <td>
                    <div class="Seriler Head">
                        <a href="seriler.html">Seriler</a>
                    </div>
                </td>
                <td>
                    <div class="Duyurular Head">
                        <a href="Duyurular.html">Duyurular</a>
                    </div>
                </td>
                <td>
                    <div class="Devam Head">
                        <a href="DevamEdenler.html">Devam Edenler</a>
                    </div>
                </td>
                <td>
                    <div class="Bitti Head">
                        <a href="Bitti.html">Biten Seriler</a>

                    </div>
                </td>
                <td>
                    <div class="discord Head">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <i class="fab fa-discord"></i>
                        </a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="Login/login.html">Giriş Yap</a>
                    </div>
                </td>
                <td class="Head">
                    <div>
                        <a class="Login" href="Login/signup.html">Kayıt Ol</a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <main>
        <div>
            <img id="big-thumb" src="../../../static/Series/America.png">
        </div>
        <div class="wrap-box">
            <div class="thumbnail">
                <img width="300px" id="thumbnail" src="../../../static/Series/America.png" alt="Thumbnail">
            </div>
            <div class="serieinfo">
                <table>
                    <tr>
                        <td class="info">Ad</td>
                        <td class="info">:</td>
                        <td class="info">American Weeb in Japan</td>
                    </tr>
                    <tr>
                        <td class="info">Yayınlanma</td>
                        <td class="info">:</td>
                        <td class="info">Devam Ediyor</td>
                    </tr>
                    <tr>
                        <td class="info">Çeviri Durumu</td>
                        <td class="info">:</td>
                        <td class="info">Devam Ediyor</td>
                    </tr>
                    <tr>
                        <td class="info">Yayınlanma Tarihi</td>
                        <td class="info">:</td>
                        <td class="info">2020</td>
                    </tr>
                    <tr>
                        <td class="info">Yazar | Çizer</td>
                        <td class="info">:</td>
                        <td class="info">Reon Merryweatherey</td>
                    </tr>
                    <tr>
                        <td class="info">Türler</td>
                        <td class="info">:</td>
                        <td class="info"><a href="../../Tags/Comedy.html">Komedi, </a><a href="../../Tags/SliceOfLife.html">Hayattan kesitler</a></td>
                    </tr>
                    <tr>
                        <td class="info">İçerik Türü</td>
                        <td class="info">:</td>
                        <td class="info">Webtoon</td>
                    </tr>
                    <tr>
                        <td class="info">Açıklama</td>
                        <td class="info">:</td>
                        <td class="info">Jessica Hawk bir Japon Lisesine gitmek için Japonya'ya taşınıyor! Çünkü o animeleri ve mangaları çok seviyor!</td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="first">
            <a href="1.bolum.html">İlk bölümü oku</a>
        </button>
        <div>
        <div id="EpisodeList">
            <h1>Bölümler</h1>
            <table class="bolumlr">
                <tr>
                    <td class="info1">Bölüm</td>
                    <td class="info2"><p id="1">Edit | Çeviri</p></td>
                    <td class="info3"><p>Yükleme</p></td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="3.bolum.html">American Weeb in Japan 3</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">5 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="2.bolum.html">American Weeb in Japan 2</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">5 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="1.bolum.html">American Weeb in Japan 1</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">5 ay önce</td>
                </tr>
            </table>
        </div>
    </main>
    <aside>
        <iframe class="Dframe" src="https://discord.com/widget?id=855468840237137931&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </aside>
</div>

<div class="offline">
    İnternet bağlantınızda bir problem var, lütfen internet bağlantınızı kontrol edin.
</div>
<script>
    const div = document.getElementById('offline')
    window.addEventListener('online', () => {
        div.style.display = 'none'
    })
    window.addEventListener('offline', () => {
        div.style.display = 'block'
    })
</script>
<div class="up">
    <a href="#header">
        <i class="material-icons md-48">expand_less</i>
    </a>
</div>
</body>
</html>