<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../item.css">
    <style>
        .thumbnail {width: 300px; height: 300px; padding-bottom: 20px;}
        .serieinfo {margin-top: -300px; width: 40%}
    </style>
</head>
<body>

<div class="container">
    <header>
        <table>
            <tr>
                <td>
                    <div class="logo">
                        <a href="../../main.html">
                            <img src="../../../static/images/6277234851615291468-MiyamuraArtDark.png" alt="ShiroiSubs">
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Seriler">
                        <a href=>
                            Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Devam">
                        <a href="../../DevamEdenler.html">
                            Devam Edenler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="Bitti">
                        <a href="../../Bitti.html">
                            Biten Seriler
                        </a>
                    </div>
                </td>
                <td>
                    <div class="discord">
                        <a href="https://discord.gg/BeVbkSV7kv">
                            <img src="../../../static/images/Discord-Logo-Lede.png" height="40" alt="Discord">
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </header>
    <aside>

    </aside>
    <main>
        <div class="wrap-box">
            <div class="kapak">
                <img class="thumbnail" src="../../../static/Series/d62b46671fa92180deaa393819345bbc.jpg" alt="Thumbnail">
            </div>
            <div class="serieinfo">
                <table>
                    <tr>
                        <td class="info">Ad</td>
                        <td class="info">:</td>
                        <td class="info">American Weeb in Japan</td>
                    </tr>
                    <tr>
                        <td class="info">Yayınlanma</td>
                        <td class="info">:</td>
                        <td class="info">Devam Ediyor</td>
                    </tr>
                    <tr>
                        <td class="info">Çeviri Durumu</td>
                        <td class="info">:</td>
                        <td class="info">Devam Ediyor</td>
                    </tr>
                    <tr>
                        <td class="info">Yayınlanma Tarihi</td>
                        <td class="info">:</td>
                        <td class="info">2020</td>
                    </tr>
                    <tr>
                        <td class="info">Yazar | Çizer</td>
                        <td class="info">:</td>
                        <td class="info">Reon Merryweatherey</td>
                    </tr>
                    <tr>
                        <td class="info">Türler</td>
                        <td class="info">:</td>
                        <td class="info"><a href="../../Tags/Comedy.html">Komedi, </a><a href="../../Tags/SliceOfLife.html">Hayattan kesitler</a></td>
                    </tr>
                    <tr>
                        <td class="info">İçerik Türü</td>
                        <td class="info">:</td>
                        <td class="info">Webtoon</td>
                    </tr>
                    <tr>
                        <td class="info">Açıklama</td>
                        <td class="info">:</td>
                        <td class="info">Jessica Hawk bir Japon Lisesine gitmek için Japonya'ya taşınıyor! Çünkü o animeleri ve mangaları çok seviyor!</td>
                    </tr>
                </table>
            </div>
        </div>
        <button>
            <a href="1.bolum.html">İlk bölümü oku</a>
        </button>
        <div>
            <h1>Bölümler</h1>
            <table class="bolumlr">
                <tr>
                    <td class="info1">Bölüm</td>
                    <td class="info2"><p id="1">Edit | Çeviri</p></td>
                    <td class="info3"><p>Yükleme</p></td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="3.bolum.html">American Weeb in Japan 3</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">5 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="2.bolum.html">American Weeb in Japan 2</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">5 ay önce</td>
                </tr>
                <tr>
                    <td class="bolum"><a class="bolumn" href="1.bolum.html">American Weeb in Japan 1</a></td>
                    <td class="bolum">MiyamuraArt</td>
                    <td class="bolum">5 ay önce</td>
                </tr>
            </table>
        </div>
    </main>
</div>
</body>
</html>